.aboutus-body {
  margin-top: 140px;
}

.aboutus-banner-image {
  width: 100%;
}

.aboutus-paragraph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  row-gap: 40px;
  column-gap: 60px;
  margin: 40px 150px;
  line-height: 40px;
}

.aboutus-title {
  grid-column: 1 / -1;
  place-self: center;
  font-weight: bold;
  font-size: 32px;
}

.aboutus-full-line {
  grid-column: 1 / -1;
  place-self: center;
}

.aboutus-paragraph-image {
  width: 100%;
}