.footer-divider {
  border-top: 1px solid lightgrey;
  width: 95%;
}

.footer {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  margin: 35px auto;
  font-size: 0.8vw;
}

.footer-item {
  line-height: 20px;
}

.footer-icon {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.business-hours .row {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 0px;
  align-items: center;
}

.business-hours .day {
  text-align: center;
}

.contact-info .row {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 0px;
}

.contact-info .value {
  grid-column: 2;
  white-space: nowrap;
}
