.deliveryinfo-image {
  width: 100%;
}

.deliveryinfo-body {
  margin-top: 120px;
  display: grid;
}

.deliveryinfo-title {
  font-weight: bold;
  font-size: 32px;
  margin: 60px 0;
  justify-self: center;
}

.deliveryinfo-text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
}

.deliveryinfo-texttwo{
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
}

.deliveryinfo-priceimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}