.homepage-title-image {
  width: 100%;
  display: block;
}

.loadingpage-image {
  display: block;
  height: 100vh;
  width: 100%;
}

.fade-out {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 500ms, opacity 500ms linear, height 0s 500ms;
}
.fade-in {
  width: 100%;
  position: static;
  overflow: visible;
  height: 100%;
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.homepage-body {
  margin-top: 140px;
}

.homepage-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.homepage-button {
  margin-left: auto;
  width: 20%;
  min-width: 120px;
  height: 50px;

  display: flex;                 /* ✅ 關鍵 */
  align-items: center;           /* ✅ 垂直置中 */
  justify-content: center;       /* ✅ 水平置中 */

  color: #F7B500;
  border: 2px solid #F7B500;
  margin-top: 50px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}


.homepage-button:hover {
  color: black;
  border: 2px solid black;
}

.homepage-about-us {
  width: 60%;
  padding: 10% 5%;
}

.homepage-about-us-image {
  width: 40%;
}

.homepage-section-title {
  font-size: 2.6vw;
  font-weight: bold;
  margin-bottom: 40px;
}

.homepage-section-text {
  font-size: 1vw;
  line-height: 1.6em;
}

.homepage-food {
  width: 40%;
  padding: 10% 5%;
}

.homepage-food-image {
  width: 60%
}

.homepage-news {
  width: 100%;
  height: 100vh;
  background: url(../images/news.jpg) no-repeat center center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  display:flex; 
  justify-content:center;
  align-items:center;
  flex-direction: column;
}