.menu-image {
  width: 100%; 
}

.menu-image-bottom-text {
  text-align: right;
}

.menu-body {
  margin-top: 140px;
}

.menu-description {
  text-align: center;
  padding: 40px 0;
}

.menu-title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 40px;
}

.menu-container { 
  margin: 0 100px;
}